

html {
      margin: 20px;
      background-color:#EDF5C8;

}
body {
      font-family:"HelveticaNeue-Light", "Helvetica Neue Light";
      font-weight:300;     
      background-color: #eeeeee;  
}

h1 {
      font-size: 50px;
}
p {
       font-size: 50px;}
