html {
      margin: 20px;
      background-color:#EDF5C8;

}
body {
      font-family:"HelveticaNeue-Light", "Helvetica Neue Light";
      font-weight:300;  
      font-color: #ABEBC6;
      background-color:#D0D3D4;  
}

h1 {
      font-size: 50px;
}
p {
       font-size: 50px;}
h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  
h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
